body{
    margin:0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #FFF4D2;
    line-height: 2;
    font-family: 'Courier New', Courier, monospace;
   
}
h2{
    color: #FFF4D2;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #FFF4D2;
}
hr{
    border: dotted #FFF4D2;
    border-bottom: none;
    width: 4%;
    margin-top: 100px;
    margin-bottom: 100px;
}

div{
    background-color: #E5D1FA;
}

.topcontainer{
    background-color: #E5D1FA;
    position: relative;
    padding-top: 100px;
    
    
    

}
.middlecontainer{
   margin-top: 100px;
   

}
.bottomcontainer{
    color: #FFF4D2;
    
}

.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 30px;
}
.myskills{
    
    height: 250px;
    width: 250px;
    border-radius: 100%;
    
   
   

}
.gaming{
    height: 225px;
    width: 225px;
    border-radius: 100%;
    
   
}
.learn{
    font-size: 2.5rem;
    color: #FFF4D2;
    font-weight: normal;
    
}
.footer-link{
    color: #FFF4D2;
    margin: 50px 10px 10px 10px;
  
   
    
}
.mee{
    border-radius: 90%;
}
.skill-row{
   width: 75%;
   margin: auto;
   margin-top: 100px;
   margin-bottom: 100px;
   
  
}
.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #FFF4D2;
    background-image: -webkit-linear-gradient(top, #FFF4D2, #2980b9);
    background-image: -moz-linear-gradient(top, #FFF4D2, #2980b9);
    background-image: -ms-linear-gradient(top, #FFF4D2, #2980b9);
    background-image: -o-linear-gradient(top, #FFF4D2, #2980b9);
    background-image: linear-gradient(to bottom, #FFF4D2, #2980b9);
    -webkit-border-radius: 47;
    -moz-border-radius: 47;
    border-radius: 47px;
    text-shadow: 1px 1px 3px #ffffff;
    font-family: Courier New;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    border: dotted #1f628d 1px;
    text-decoration: none;
    margin: auto;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #FFF4D2, #eeff00);
    background-image: -moz-linear-gradient(top, #FFF4D2, #eeff00);
    background-image: -ms-linear-gradient(top, #FFF4D2, #eeff00);
    background-image: -o-linear-gradient(top, #FFF4D2, #eeff00);
    background-image: linear-gradient(to bottom, #FFF4D2, #eeff00);
    text-decoration: none;
  }
a{
    color: #FFF4D2;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
a:hover{
    color: #eeff00;
}
.copyright{
    color: aquamarine;
    font-size: 15px;
}